<!-- Title: Applet -->
<table id="mgmt_container">
    <tr>
        <td>
            <div id="applet_mgmt_div">
                <table>
                    <tr>
                        <td colspan="2">
                            This is the site-wide applet settings script applied to the Upload Applet. This script
                            can also be supplemented by applet settings specified at the $displayManager.getSingularDisplayNameForProject().toLowerCase() level.
                        </td>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">Script:</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="appletScript" name="appletScript" rows="20" cols="80" onkeypress="if (!window.appletManager.isDirty()) { window.appletManager.dirtyForm(); }" disabled></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<input type="button" value="Save" name="eventSubmit_doPerform" id="applet_save_button" onclick="window.appletManager.saveTabSettings();"/>&nbsp;
<input type="button" value="Reset" name="eventSubmit_doReset" id="applet_reset_button" onclick="window.appletManager.resetForm();" disabled/>

<script language="javascript">
function configurationAppletTabChange(obj) {
    if(obj.newValue.get("href")=="#applets") {
        if(window.appletManager==undefined) {
            window.appletManager = new SettingsTabManager('applet_mgmt_div', appletControls);
        }
    }
}

function addAppletMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#applets") {
        if(window.appletManager==undefined) {
            window.appletManager = new SettingsTabManager('applet_mgmt_div', appletControls);
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationAppletTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addAppletMgmtMonitor);
var appletControls = ['appletScript'];
</script>
