/*
    CSS for xnatModal script
*/

body.x_modal_body { display: block !important ; } /* the body will not disappear! */
div.x_modal { display: none ; position: fixed ; left: 0 ; top: 0 ; width: 100% ; height: 100% ; background: transparent url('images/black_60pct.png') ; /* rgba(0,0,0,0.6) ; */ z-index: 999999990 ; }
div.x_modal .box { position: absolute ; padding: 0 ; left: 50% ; top: 50% ; overflow: hidden ; background: #fff ; border-color: #444 ; border: 3px solid rgba(0,0,0,0.6) ; box-shadow: 0 10px 30px rgba(0,0,0,0.5) ; /* border-radius: 9px ; */ }
div.x_modal .box .close:hover { cursor: pointer ; }
div.x_modal .box .title { position: relative ; height: 25px ; padding-left: 10px ; overflow: hidden ; font-size: 12px ; font-weight: normal ; line-height: 28px ; vertical-align: middle ; color: #666 ; background: /* #084FAB */ /* #206bc4 */ #f0f0f0 url('images/nav_bkdg.png') center center repeat-x ; border-bottom: 1px solid #c0c0c0 ; /* border-radius: 5px 5px 0 0 ; */ }
div.x_modal .box .title .close { width: 32px ; height: 24px ; margin: 0 !important ; padding: 0 !important ; position: absolute ; top: 1px ; right: 3px ; background: url('images/close-yui.gif') center center no-repeat ; border: none ; }
div.x_modal .box.loading .title .close { display: none ; }
div.x_modal .box .body { position: relative ; overflow: hidden ; }
div.x_modal .box.scroll .body { overflow-y: auto ; }
div.x_modal .box .body .inner { padding: 20px 20px 0 ; font-size: 13px ; }
div.x_modal .box .body h1, 
div.x_modal .box .body h2,
div.x_modal .box .body h3, 
div.x_modal .box .body h4 { margin-bottom: 1em !important; }
div.x_modal .box .body p { margin: 0 0 1em ; }
div.x_modal .box .footer { position: relative ; height: 52px ; padding: 0 16px ; vertical-align: middle ; background: #f0f0f0 /* #fff */ ; border-top: 1px solid #fff ; overflow: visible ; }
div.x_modal .box .footer .inner { position: relative ; bottom: 1px ; }
div.x_modal .box .footer .inner .message { display:block; position:absolute; left:2px; top:18px; font-weight:normal; font-size:14px; color:#666; }
div.x_modal .box .footer .buttons { position: absolute ; right: 0 ; }
div.x_modal .box .footer .button,
div.x_modal .box .footer .button.ok.close { display: inline-block ; height: 24px ; margin: 12px 0 0 6px ; padding: 0 14px !important ; line-height: 24px ; vertical-align: middle ; font-size: 13px ; font-weight: normal ; text-decoration: none !important ; color: #333 ; background: #e0e0e0 url('images/btn2_30px.png') center center repeat-x ; border: 1px solid #aaa ; border-radius: 3px ; }
div.x_modal .box .footer .button:hover { color: inherit ; background: #d0d0d0 }
div.x_modal .box .footer .button.ok { font-weight: bold ; color: #fff ; background: /* #084FAB */ #206bc4 url('images/btn1_30px.png') center center repeat-x ; border-color: #206bc4 ; }
div.x_modal .box .footer .button.ok:hover { background: #206bc4 ; border-color: #084FAB ; }
.ie  div.x_modal .box { border: none ; }
.ie8 div.x_modal .box .footer .button { /* margin: 10px ; */ padding: 3px 6px ; }
.ie9 div.x_modal .box .footer .button { /* margin: 12px ; */ padding: 4px 6px 3px ; }
.modal_content { display: none ; }
