<p>ConnectomeDB is a data management platform where users can access, explore and download the latest datasets from the Human Connectome Project. For help on using ConnectomeDB, please consult our <a href="http://humanconnectome.org/connectomeDB/help/" target="_blank">user guide</a>.</p>