##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!-- XDATScreen_MyXNAT.vm -->

$page.setTitle("My XNAT")
#if ($data.message)
<div class="warning">$data.message <img src="$content.getURI('/images/close.gif')" style="position: absolute; right: 10px;" onclick="javascript:$(this).parent('div').slideUp(200)" /></div>
#end

#if($data.getSession().getAttribute("user").getUsername()!="guest")

<div class="data-banner">
	<h1 id="page-title">Edit Account Info</h1>
	<div class="overlay-container">
      	<div class="overlay-half">
    		#parse("screens/XDATScreen_change_email.vm")
      	</div>
     
      <div class="overlay-half right">
		#parse("/screens/userValidationJS.vm")
      	#parse("screens/XDATScreen_password.vm")
     </div>
  </div>
  
</div>

<!-- end banner -->

#else

<div class="data-banner">
	<h1 id="page-title">Access Denied</h1>
	<p>Your session is either expired or you are trying to edit an account that you shouldn't.</p>
</div>

#end
#*<a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","password")">Change Password</a><br>*#
#*<a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","change_email")">Change Email</a>*#

<!-- end XDATScreen_MyXNAT.vm -->