##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

$page.setTitle("XDAT")

$page.setLinkColor($ui.alink)

$page.setVlinkColor($ui.vlink)

#set ($template = $data.getTemplateInfo())

$!template.setLayoutTemplate("DefaultExptList.vm")

#if ($data.message)

<DIV class="error">$data.message</DIV><br>

#end

#parse("/screens/admin_bar.vm")

		<BR><BR>

<p>

<table border="0" width="95%">

	<tr>

	<td colspan=2>

	<a href="$link.setPage("Configuration.vm")">Configuration</a><BR><BR>
	
<a href="$link.setPage("XDATScreen_EditScript.vm").addPathInfo("user","Test")">View Edit Script</a><BR><BR>
<a href="$link.setPage("XDATScreen_emailSpecifications.vm")">Set Email Settings</a><BR><BR>

<a href="$link.setAction("RefreshAction").addPathInfo("refresh","ElementSecurity")">Reload Security Settings</a><BR><BR>

<a href="$link.setAction("RefreshAction").addPathInfo("refresh","DisplayManager")">Reload Display Documents</a><BR><BR>

<a href="$link.setAction("RefreshAction").addPathInfo("refresh","ClearDBCache")">Clear DB Cache</a><BR><BR>

<a href="$link.setAction("RefreshAction").addPathInfo("refresh","PGVacuum")">Vacuum/Analyze Database</a><BR><BR>

<a href="$link.setAction("SearchAction").addPathInfo("element","wrk:workflowData").addPathInfo("querytype","new")">View All Workflows</a><BR><BR>

<a href="$link.setPage("XDATScreen_active_sessions.vm")">Monitor $displayManager.getPluralDisplayNameForImageSession()</a><BR><BR>

				<a class=b href="$link.setPage("XDATScreen_admin_projectAccess.vm")" onmouseover="return true;">$displayManager.getSingularDisplayNameForProject() Accessibility</a><BR><BR>
<a href="$link.setPage("AdminSummary.vm")">Summary</a><BR><BR>

<a href="$link.setPage("XDATScreen_add_xnat_projectData.vm")">Create $displayManager.getSingularDisplayNameForProject()</a>

#addGlobalCustomScreens("admin/options")
</td></tr></table>
