<!-- Sequence: 10 -->

    <li><a href="$link.setPage("XDATScreen_add_xnat_projectData.vm")">$displayManager.getSingularDisplayNameForProject()</a></li>
    <!-- -->
    #if ($data.getSession().getAttribute("user").canCreateElement("xnat:subjectData", "xnat:subjectData/project"))
        #if($project)
            #if($project.getId())
                #if($data.getSession().getAttribute("user").canCreate("xnat:subjectData/project",$project.getId()))
                    <li><a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","xnat:subjectData")/project/$!project.getId()">$displayManager.getSingularDisplayNameForSubject()</a></li>
                #end
            #else
                #if($data.getSession().getAttribute("user").canCreate("xnat:subjectData/project",$project))
                    <li><a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","xnat:subjectData")$!projectString">$displayManager.getSingularDisplayNameForSubject()</a></li>
                #end
            #end
        #else
            <!-- -->
            <li><a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","xnat:subjectData")">$displayManager.getSingularDisplayNameForSubject()</a></li>
            <!-- -->
        #end
    #end

    #renderTopListType("xnat:mrSessionData")
    #renderTopListType("xnat:petSessionData")
    #renderTopListType("xnat:ctSessionData")
    #if($project)
        #if($project.getId())
            <li><a href="$link.setPage("XDATScreen_add_experiment.vm").addPathInfo('project',$project.getId())">Experiment</a></li>
        #else
            <li><a href="$link.setPage("XDATScreen_add_experiment.vm").addPathInfo('project',$project)">Experiment</a></li>
        #end
    #else
        <!-- -->
        <li><a href="$link.setPage("XDATScreen_add_experiment.vm")">Experiment</a></li>
        <!-- -->
    #end
    <!-- -->
